<h3> Add an Image to Gallery </h3>
<% if is_admin? %>
<%= form_for @gimage do |f| %>
<p>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :image %>
<%= f.file_field :image %></br></br>
<%= f.submit "Add Image to Gallery" %>
</p>
<% end %>
<% end %>
